## Analysis of COVID-19 Vaccinations per Country and Manufacturers

1. What countries have the most fully COVID-19 vaccinated people? (List Top/Bottom 5 Countries) Help to identify countries that are doing well and are struggling. We can explore and apply tactics we get from the top countries to that of the bottom countries.

2. In the top/bottom 5 countries with the most fully COVID-19 vaccinated people, what are the manufacturers they use? Reduce cost by ordering commonly used vaccines by manufacturers.

3. Based on population (fully vaccinated per 100), what percent of people are fully vaccinated in Top/Bottom 5 Countries? Help to debunk that countries with larger populations have a higher chance to have “more” vaccinated people than countries with a smaller population.

4. By total vaccinations, what is the top manufacture used in United States?

In [4]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import dataframe_image as dfi

### Extract CSVs into DataFrames

In [5]:
country_vacc_file = "../ETL_Case_Study/Resources/country_vaccinations.csv"
country_vacc_df = pd.read_csv(country_vacc_file)
country_vacc_df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/

In [6]:
country_vacc_manu_file = "../ETL_Case_Study/Resources/country_vaccinations_by_manufacturer.csv"
country_vacc_manu_df = pd.read_csv(country_vacc_manu_file)
country_vacc_manu_df.head()

    location     date             vaccine  total_vaccinations
0  Argentina  3/29/22             CanSino              610540
1  Argentina  3/29/22             Moderna             6507561
2  Argentina  3/29/22  Oxford/AstraZeneca            25977231
3  Argentina  3/29/22     Pfizer/BioNTech            14681054
4  Argentina  3/29/22   Sinopharm/Beijing            28322602

### Transform country_vaccination DataFrame

In [7]:
# Create a filtered dataframe from specific columns
country_vacc_cols = ["country", "total_vaccinations", "people_fully_vaccinated",\
                    "people_fully_vaccinated_per_hundred", "vaccines" ]
country_vacc_transformed = country_vacc_df[country_vacc_cols].copy()
#country_vacc_transformed.head()

# Convert index column (used as primary key later) and rename the column headers
country_vacc_transformed.reset_index(inplace=True)
country_vacc_transformed = country_vacc_transformed.rename(columns = {"vaccines": "manufacturer",
                                                                      "index": "id"})



# Drop rows with NaN values
country_vacc_transformed = country_vacc_transformed.dropna()
country_vacc_transformed = country_vacc_transformed.reset_index(drop=True)

country_vacc_transformed.head()

,id,country,total_vaccinations,people_fully_vaccinated,people_fully_vaccinated_per_hundred,manufacturer
0,78,Afghanistan,504502.0,55624.0,0.14,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
1,87,Afghanistan,547901.0,77560.0,0.19,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
2,91,Afghanistan,573277.0,96910.0,0.24,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
3,93,Afghanistan,590454.0,111082.0,0.28,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
4,94,Afghanistan,593313.0,113739.0,0.29,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."

In [8]:
# Unique countries with numerical values for people_fully_vaccinated
len(np.unique(country_vacc_transformed['country']))

223

In [9]:
country_vacc_transformed_clean = country_vacc_transformed.dropna(subset=\
                                                                 ['people_fully_vaccinated'])

In [10]:
# List of countries - data consists of several rows with country name 
country_list = np.unique(country_vacc_transformed['country'])
#country_list

# Latest values for 'people_fully_vaccinated' empty variable to collect data later
people_fully_vacc_value = np.array([])

# Latest values for 'total_vaccinations_value' empty variable to collect data later
total_vaccinations_value = np.array([])

# Latest values for 'people_fully_vaccinated_per_hundred' empty variable to collect data later
people_fully_vaccinated_per_hundred_value = np.array([])

# Latest values for 'manufacturer' empty variable to collect data later
manufacturer_value = np.array([])

In [11]:
# Iterate over each country to collect the latest values for columns to place in dataframe

for country in country_list:
    people_fully_vacc_value = np.append(people_fully_vacc_value, country_vacc_transformed
                                       [country_vacc_transformed['country']==country]
                                       .iloc[-1]['people_fully_vaccinated'])
    
    total_vaccinations_value = np.append(total_vaccinations_value, country_vacc_transformed
                                       [country_vacc_transformed['country']==country]
                                       .iloc[-1]['total_vaccinations'])
    
    people_fully_vaccinated_per_hundred_value = np.append(
        people_fully_vaccinated_per_hundred_value, country_vacc_transformed
                                       [country_vacc_transformed['country']==country]
                                       .iloc[-1]['people_fully_vaccinated_per_hundred'])
    
    manufacturer_value = np.append(manufacturer_value, country_vacc_transformed
                                       [country_vacc_transformed['country']==country]
                                       .iloc[-1]['manufacturer'])

In [12]:
# Create dataframe where each country can be associated to a desired value 

country_vaccination_df = pd.DataFrame({'country': country_list,
                                 'total_vaccinations': total_vaccinations_value,
                                'people_fully_vaccinated': people_fully_vacc_value,
                                'people_fully_vaccinated_per_hundred': 
                                 people_fully_vaccinated_per_hundred_value,
                                'manufacturer': manufacturer_value})
country_vaccination_df.head()

,country,total_vaccinations,people_fully_vaccinated,people_fully_vaccinated_per_hundred,manufacturer
0,Afghanistan,5751015.0,4420127.0,11.10,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
1,Albania,2754244.0,1215199.0,42.30,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ..."
2,Algeria,13704895.0,6110712.0,13.70,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."
3,Andorra,151997.0,53367.0,68.99,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"
4,Angola,17535411.0,5993792.0,17.66,Oxford/AstraZeneca

In [13]:
# Convert index column (used as primary key later) and rename the column headers
country_vaccination_df.reset_index(inplace=True)
country_vaccination_df = country_vaccination_df.rename(columns = {"index": "id"})
country_vaccination_df.head()

,id,country,total_vaccinations,people_fully_vaccinated,people_fully_vaccinated_per_hundred,manufacturer
0,0,Afghanistan,5751015.0,4420127.0,11.10,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
1,1,Albania,2754244.0,1215199.0,42.30,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ..."
2,2,Algeria,13704895.0,6110712.0,13.70,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."
3,3,Andorra,151997.0,53367.0,68.99,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"
4,4,Angola,17535411.0,5993792.0,17.66,Oxford/AstraZeneca

### Transform country_vaccination_manufacturer DataFrame

In [14]:
# Create a filtered dataframe from specific columns
country_vacc_manu_cols = ["location", "date", "vaccine", "total_vaccinations"]
country_vacc_manu_transformed = country_vacc_manu_df[country_vacc_manu_cols].copy()
#country_vacc_transformed.head()

# Convert index column (used as primary key later) and rename the column headers
country_vacc_manu_transformed.reset_index(inplace=True)
country_vacc_manu_transformed = country_vacc_manu_transformed.rename(columns = 
                                                                     {"location": "country",
                                                                      "date": "date",
                                                                    "vaccine": "manufacturer",
                                                                      "index": "id"})



# Drop rows with NaN values
country_vacc_manu_transformed = country_vacc_manu_transformed.dropna()
country_vacc_manu_transformed = country_vacc_manu_transformed.reset_index(drop=True)

country_vacc_manu_transformed.head(11)

    id    country     date        manufacturer  total_vaccinations
0    0  Argentina  3/29/22             CanSino              610540
1    1  Argentina  3/29/22             Moderna             6507561
2    2  Argentina  3/29/22  Oxford/AstraZeneca            25977231
3    3  Argentina  3/29/22     Pfizer/BioNTech            14681054
4    4  Argentina  3/29/22   Sinopharm/Beijing            28322602
5    5  Argentina  3/29/22           Sputnik V            20405678
6    6    Austria  3/25/22     Johnson&Johnson              363548
7    7    Austria  3/25/22             Moderna             1585063
8    8    Austria  3/25/22             Novavax                3682
9    9    Austria  3/25/22  Oxford/AstraZeneca             1588222
10  10    Austria  3/25/22     Pfizer/BioNTech            14584985

In [15]:
# Unique countries with numerical values for total_vaccinations
len(np.unique(country_vacc_manu_transformed['country']))

38

In [16]:
country_man_list = np.unique(country_vacc_manu_transformed['country'])
country_man_list

array(['Argentina', 'Austria', 'Belgium', 'Bulgaria', 'Chile', 'Croatia',
       'Cyprus', 'Czechia', 'Denmark', 'Estonia', 'European Union',
       'Finland', 'France', 'Germany', 'Hong Kong', 'Hungary', 'Iceland',
       'Italy', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Malta', 'Nepal', 'Netherlands', 'Norway', 'Peru', 'Poland',
       'Portugal', 'Romania', 'Slovakia', 'South Africa', 'South Korea',
       'Spain', 'Sweden', 'Switzerland', 'United States', 'Uruguay'],
      dtype=object)

In [17]:
# Unique number of manufacturers 
len(np.unique(country_vacc_manu_transformed['manufacturer']))

10

In [18]:
# Unique list of manufacturers
man_list = np.unique(country_vacc_manu_transformed['manufacturer'])
man_list

array(['CanSino', 'Covaxin', 'Johnson&Johnson', 'Moderna', 'Novavax',
       'Oxford/AstraZeneca', 'Pfizer/BioNTech', 'Sinopharm/Beijing',
       'Sinovac', 'Sputnik V'], dtype=object)

### Create database connection

In [19]:
protocol = 'postgresql'
username = 'postgres'
password = 'postgres'
host = 'localhost' # 'localhost' does not work normally as it should hence specific on MAC - include specific host if doesn't run correctly
port = '5433'
database_name = 'covid_vaccination_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)
engine

Engine(postgresql://postgres:***@localhost:5433/covid_vaccination_db)

In [20]:
# Show table names - can be placed after creating table below or ran before to show empty tabl
engine.table_names()

['country_vaccinations', 'country_manufacturer']

### Load data to postgreSQL

In [32]:
# Create table (country_vaccinations) and load dataframe data
country_vaccination_df.to_sql(name='country_vaccinations', 
                              con=engine, if_exists='append', index=False)

In [21]:
# Confirm data has been added by querying the 'country_vaccinations' table
pd.read_sql_query('select * from country_vaccinations', con=engine).head()

,id,country,total_vaccinations,people_fully_vaccinated,people_fully_vaccinated_per_hundred,manufacturer
0,0,Afghanistan,5751015.0,4420127.0,11.10,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
1,1,Albania,2754244.0,1215199.0,42.30,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ..."
2,2,Algeria,13704895.0,6110712.0,13.70,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."
3,3,Andorra,151997.0,53367.0,68.99,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"
4,4,Angola,17535411.0,5993792.0,17.66,Oxford/AstraZeneca

In [34]:
# Create table (country_manufactuer) and load dataframe data 
country_vacc_manu_transformed.to_sql(name='country_manufacturer', con=engine, if_exists='append', index=False)

In [22]:
pd.read_sql_query('select * from country_manufacturer', con=engine).head()

   id    country     date        manufacturer  total_vaccinations
0   0  Argentina  3/29/22             CanSino              610540
1   1  Argentina  3/29/22             Moderna             6507561
2   2  Argentina  3/29/22  Oxford/AstraZeneca            25977231
3   3  Argentina  3/29/22     Pfizer/BioNTech            14681054
4   4  Argentina  3/29/22   Sinopharm/Beijing            28322602

### Analysis of COVID-19 Vaccinations per Country and Manufacturers

1. What countries have the most fully COVID-19 vaccinated people? (List Top/Bottom 5 Countries) Help to identify countries that are doing well and are struggling. We can explore and apply tactics we get from the top countries to that of the bottom countries.

2. In the top/bottom 5 countries with the most fully COVID-19 vaccinated people, what are the manufacturers they use? Reduce cost by ordering commonly used vaccines by manufacturers.

3. Based on population (fully vaccinated per 100), what percent of people are fully vaccinated in Top/Bottom 5 Countries? Help to debunk that countries with larger populations have a higher chance to have “more” vaccinated people than countries with a smaller population.

4. By total vaccinations, what is the top manufacture used in United States?

### Column Definitions

ID - this is the number used as the primary key to reference data in sql query

Country- this is the country for which the vaccination information is provided;

Total number of vaccinations - this is the absolute number of total immunizations in the country;

Date - date for the data entry; for some of the dates we have only the daily vaccinations, for others, only the (cumulative) total;

People_fully_vaccinated - this is the number of people that received the entire set of immunization according to the immunization scheme (typically 2)

People_fully_vaccinated_per_hundred - ratio (in percent) between population fully immunized and total population up to the date in the country;

Manufacturer - vaccines types used in the country (up to date);

#### Analysis 1

What countries have the most fully COVID-19 vaccinated people? (List Top/Bottom 5 Countries) Help to identify countries that are doing well and are struggling. We can explore and apply tactics we get from the top countries to that of the bottom countries.

Top 5 Countries Most Fully COVID-19 Vaccinated People

1. China
2. India
3. United States
4. Brazil
5. Indonesia

Bottom 5 Countries Most Fully COVID-19 Vaccinated People

1. Pitcairn
2. Tokelau
3. Niue
4. Falkland Islands
5. Montserrat

In [23]:
# Query table for top countries with mst fully COVID-19 vaccinated people
top_fullyvacc_df = pd.read_sql_query('SELECT id, country, people_fully_vaccinated \
FROM country_vaccinations \
ORDER BY people_fully_vaccinated DESC', con=engine).head()

# top_fullyvacc_df

top_fullyvacc_df.dfi.export("../ETL_Case_Study/Images/top_fullyvacc_df.png")

In [24]:
# Query table for bottom countries with mst fully COVID-19 vaccinated people
bottom_fullyvacc_df = pd.read_sql_query('SELECT country, people_fully_vaccinated \
FROM country_vaccinations \
ORDER BY people_fully_vaccinated ASC', con=engine).head()

# bottom_fullyvacc_df

bottom_fullyvacc_df.dfi.export("../ETL_Case_Study/Images/bottom_fullyvacc_df.png")

#### Analysis 2

In the top/bottom 5 countries with the most fully COVID-19 vaccinated people, what are the manufacturers they use? Reduce cost by ordering commonly used vaccines by manufacturers.

*[Top 5 Country Manufacturers](http://localhost:8889/view/Images/top_manufactures_df.png "Top 5 Country Manufacturers")*

*[Bottom 5 Country Manufacturers](http://localhost:8889/view/Images/bottom_manufactures_df.png "Bottom 5 Country Manufacturers")*

In [25]:
bottom_manufactures_df = pd.read_sql_query("SELECT country, manufacturer, people_fully_vaccinated \
FROM country_vaccinations \
WHERE country = 'Pitcairn' OR country = 'Tokelau' OR country='Niue' OR country='Falkland Islands' OR country= 'Montserrat' \
ORDER BY people_fully_vaccinated", con=engine)

bottom_manufactures_df
bottom_manufactures_df.dfi.export("../ETL_Case_Study/Images/bottom_manufactures_df.png")

In [26]:
top_manufactures_df = pd.read_sql_query("SELECT country, manufacturer, people_fully_vaccinated \
FROM country_vaccinations \
WHERE country = 'Indonesia' OR country = 'China' OR country='India' OR country='United States' OR country= 'Brazil' \
ORDER BY people_fully_vaccinated DESC", con=engine)

top_manufactures_df
top_manufactures_df.dfi.export("../ETL_Case_Study/Images/top_manufactures_df.png")

#### Analysis 3

Based on population (fully vaccinated per 100), what percent of people are fully vaccinated in Top/Bottom 5 Countries? Help to debunk that countries with larger populations have a higher chance to have “more” vaccinated people than countries with a smaller population.

Pitcairn, though listed in bottom 5 of countries with people_fully_vaccinated, has the most people vaccinated according to population at 100%.

Niue falls within the bottom 5 of countries with people_full_vaccinated and comes in at second with the most people vaccinated based on population at 87.79%.

In [27]:
pop_fully_vaccinated_hundred_df = pd.read_sql_query("SELECT country, people_fully_vaccinated_per_hundred \
FROM country_vaccinations WHERE country = 'Pitcairn' OR country = 'Tokelau' OR country='Niue' \
OR country='Falkland Islands' OR country='Montserrat' OR country = 'China' OR country = 'India' \
OR country='United States' OR country='Brazil' OR country='Indonesia'ORDER BY \
people_fully_vaccinated_per_hundred DESC", con=engine)

pop_fully_vaccinated_hundred_df
pop_fully_vaccinated_hundred_df.dfi.export("../ETL_Case_Study/Images/pop_fully_vaccinated_hundred_df.png")

#### Analysis 4

By total vaccinations, what is the top manufacture used in United States?

United States top manufacturer is Pfizer/BioNTech

In [28]:
# Join Tables to answer analysis question 4
united_states_manufacturers_df = pd.read_sql_query("SELECT country_manufacturer.id, country_manufacturer.country, \
country_manufacturer.manufacturer, country_vaccinations.people_fully_vaccinated, \
country_manufacturer.total_vaccinations FROM country_vaccinations FULL JOIN country_manufacturer \
ON country_vaccinations.country = country_manufacturer.country \
WHERE country_manufacturer.country = 'United States' \
ORDER BY country_manufacturer.total_vaccinations DESC", con=engine)

united_states_manufacturers_df
united_states_manufacturers_df.dfi.export("../ETL_Case_Study/Images/united_states_manufacturers_df.png")