## Analysis of COVID-19 Vaccinations per Country and Manufacturers

1. What countries have the most fully COVID-19 vaccinated people? (List Top/Bottom 5 Countries) Help to identify countries that are doing well and are struggling. We can explore and apply tactics we get from the top countries to that of the bottom countries.

2. In the top/bottom 5 countries with the most fully COVID-19 vaccinated people, what are the manufacturers they use? Reduce cost by ordering commonly used vaccines by manufacturers.

3. Based on population (fully vaccinated per 100), what percent of people are fully vaccinated? Help to debunk that countries with larger populations have a higher chance to have “more” vaccinated people than countries with a smaller population.

4. What are the different types of COVID-19 vaccinations administered in the United States? Explore domestic use of the type of COVID-19 vaccinations.

In [16]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [17]:
country_vacc_file = "../ETL_Case_Study/Resources/country_vaccinations.csv"
country_vacc_df = pd.read_csv(country_vacc_file)
country_vacc_df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/

In [18]:
country_vacc_manu_file = "../ETL_Case_Study/Resources/country_vaccinations_by_manufacturer.csv"
country_vacc_manu_df = pd.read_csv(country_vacc_manu_file)
country_vacc_manu_df.head()

    location        date             vaccine  total_vaccinations
0  Argentina  2020-12-29             Moderna                   2
1  Argentina  2020-12-29  Oxford/AstraZeneca                   3
2  Argentina  2020-12-29   Sinopharm/Beijing                   1
3  Argentina  2020-12-29           Sputnik V               20481
4  Argentina  2020-12-30             Moderna                   2

### Transform country_vaccination DataFrame

In [19]:
# Create a filtered dataframe from specific columns
country_vacc_cols = ["country", "total_vaccinations", "people_fully_vaccinated",\
                    "people_fully_vaccinated_per_hundred", "vaccines" ]
country_vacc_transformed = country_vacc_df[country_vacc_cols].copy()
#country_vacc_transformed.head()

# Convert index column (used as primary key later) and rename the column headers
country_vacc_transformed.reset_index(inplace=True)
country_vacc_transformed = country_vacc_transformed.rename(columns = {"vaccines": "manufacturer",
                                                                      "index": "id"})



# Drop rows with NaN values
country_vacc_transformed = country_vacc_transformed.dropna()
country_vacc_transformed = country_vacc_transformed.reset_index(drop=True)

country_vacc_transformed.head()

,id,country,total_vaccinations,people_fully_vaccinated,people_fully_vaccinated_per_hundred,manufacturer
0,78,Afghanistan,504502.0,55624.0,0.14,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
1,87,Afghanistan,547901.0,77560.0,0.19,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
2,91,Afghanistan,573277.0,96910.0,0.24,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
3,93,Afghanistan,590454.0,111082.0,0.28,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
4,94,Afghanistan,593313.0,113739.0,0.29,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."

In [20]:
# Unique countries with numerical values for people_fully_vaccinated
len(np.unique(country_vacc_transformed['country']))

223

In [6]:
country_vacc_transformed_clean = country_vacc_transformed.dropna(subset=\
                                                                 ['people_fully_vaccinated'])

In [21]:
# List of countries - data consists of several rows with country name 
country_list = np.unique(country_vacc_transformed['country'])
#country_list

# Latest values for 'people_fully_vaccinated' empty variable to collect data later
people_fully_vacc_value = np.array([])

# Latest values for 'total_vaccinations_value' empty variable to collect data later
total_vaccinations_value = np.array([])

# Latest values for 'people_fully_vaccinated_per_hundred' empty variable to collect data later
people_fully_vaccinated_per_hundred_value = np.array([])

# Latest values for 'manufacturer' empty variable to collect data later
manufacturer_value = np.array([])

In [22]:
# Iterate over each country to collect the latest values for columns to place in dataframe

for country in country_list:
    people_fully_vacc_value = np.append(people_fully_vacc_value, country_vacc_transformed
                                       [country_vacc_transformed['country']==country]
                                       .iloc[-1]['people_fully_vaccinated'])
    
    total_vaccinations_value = np.append(total_vaccinations_value, country_vacc_transformed
                                       [country_vacc_transformed['country']==country]
                                       .iloc[-1]['total_vaccinations'])
    
    people_fully_vaccinated_per_hundred_value = np.append(
        people_fully_vaccinated_per_hundred_value, country_vacc_transformed
                                       [country_vacc_transformed['country']==country]
                                       .iloc[-1]['people_fully_vaccinated_per_hundred'])
    
    manufacturer_value = np.append(manufacturer_value, country_vacc_transformed
                                       [country_vacc_transformed['country']==country]
                                       .iloc[-1]['manufacturer'])

In [23]:
# Create dataframe where each country can be associated to a desired value 

country_vaccination_df = pd.DataFrame({'country': country_list,
                                 'total_vaccinations': total_vaccinations_value,
                                'people_fully_vaccinated': people_fully_vacc_value,
                                'people_fully_vaccinated_per_hundred': 
                                 people_fully_vaccinated_per_hundred_value,
                                'manufacturer': manufacturer_value})
country_vaccination_df.head()

,country,total_vaccinations,people_fully_vaccinated,people_fully_vaccinated_per_hundred,manufacturer
0,Afghanistan,5751015.0,4420127.0,11.10,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
1,Albania,2754244.0,1215199.0,42.30,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ..."
2,Algeria,13704895.0,6110712.0,13.70,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."
3,Andorra,151997.0,53367.0,68.99,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"
4,Angola,17535411.0,5993792.0,17.66,Oxford/AstraZeneca

In [24]:
# Convert index column (used as primary key later) and rename the column headers
country_vaccination_df.reset_index(inplace=True)
country_vaccination_df = country_vaccination_df.rename(columns = {"index": "id"})
country_vaccination_df.head()

,id,country,total_vaccinations,people_fully_vaccinated,people_fully_vaccinated_per_hundred,manufacturer
0,0,Afghanistan,5751015.0,4420127.0,11.10,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
1,1,Albania,2754244.0,1215199.0,42.30,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ..."
2,2,Algeria,13704895.0,6110712.0,13.70,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."
3,3,Andorra,151997.0,53367.0,68.99,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"
4,4,Angola,17535411.0,5993792.0,17.66,Oxford/AstraZeneca

### Transform country_vaccination_manufacturer DataFrame

In [95]:
# Create a filtered dataframe from specific columns
country_vacc_manu_cols = ["location", "date", "vaccine", "total_vaccinations"]
country_vacc_manu_transformed = country_vacc_manu_df[country_vacc_manu_cols].copy()
#country_vacc_transformed.head()

# Convert index column (used as primary key later) and rename the column headers
country_vacc_manu_transformed.reset_index(inplace=True)
country_vacc_manu_transformed = country_vacc_manu_transformed.rename(columns = 
                                                                     {"location": "country",
                                                                      "date": "date",
                                                                    "vaccine": "manufacturer",
                                                                      "index": "id"})



# Drop rows with NaN values
country_vacc_manu_transformed = country_vacc_manu_transformed.dropna()
country_vacc_manu_transformed = country_vacc_manu_transformed.reset_index(drop=True)

country_vacc_manu_transformed.tail()

,id,country,date,manufacturer,total_vaccinations
35618,35618,European Union,2022-03-29,Oxford/AstraZeneca,67403106
35619,35619,European Union,2022-03-29,Pfizer/BioNTech,600519998
35620,35620,European Union,2022-03-29,Sinopharm/Beijing,2301516
35621,35621,European Union,2022-03-29,Sinovac,1809
35622,35622,European Union,2022-03-29,Sputnik V,1845103

In [56]:
# Unique countries with numerical values for total_vaccinations
len(np.unique(country_vacc_manu_transformed['country']))

43

In [69]:
country_man_list = np.unique(country_vacc_manu_transformed['country'])
country_man_list

array(['Argentina', 'Austria', 'Belgium', 'Bulgaria', 'Chile', 'Croatia',
       'Cyprus', 'Czechia', 'Denmark', 'Ecuador', 'Estonia',
       'European Union', 'Finland', 'France', 'Germany', 'Hong Kong',
       'Hungary', 'Iceland', 'Ireland', 'Italy', 'Japan', 'Latvia',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Nepal',
       'Netherlands', 'Norway', 'Peru', 'Poland', 'Portugal', 'Romania',
       'Slovakia', 'Slovenia', 'South Africa', 'South Korea', 'Spain',
       'Sweden', 'Switzerland', 'Ukraine', 'United States', 'Uruguay'],
      dtype=object)

In [70]:
# Unique manufacturers 
len(np.unique(country_vacc_manu_transformed['manufacturer']))

10

In [71]:
# Unique list of manufacturers
man_list = np.unique(country_vacc_manu_transformed['manufacturer'])
man_list

array(['CanSino', 'Covaxin', 'Johnson&Johnson', 'Moderna', 'Novavax',
       'Oxford/AstraZeneca', 'Pfizer/BioNTech', 'Sinopharm/Beijing',
       'Sinovac', 'Sputnik V'], dtype=object)

In [98]:
man_vacc_df = pd.DataFrame(columns=["id","country","date","manufacturer", "total_vaccinations"], data = [["99999", "Junk", "2022-03-20", "Robert", "1234"]])
for x in country_man_list:
    man_unique = country_vacc_manu_transformed.loc[country_vacc_manu_transformed['country']== x]   
    man_sort = man_unique.sort_values(by='date', ascending=True, inplace=False)  
    man_df = man_sort.loc[man_sort['date']==man_sort.iloc[-1]['date']]   
    man_vacc_df.append(man_df)
man_vacc_df

      id country        date manufacturer total_vaccinations
0  99999    Junk  2022-03-20       Robert               1234

In [57]:
# List of countries - data consists of several rows with country name 
country_man_list = np.unique(country_vacc_manu_transformed['country'])
#country_man_list

# Latest values for 'manufacturer' empty variable to collect data later
manufacturer_value = np.array([])

# Latest values for 'total_vaccinations' empty variable to collect data later
total_vaccinations_manu_value = np.array([])

In [58]:
# Iterate over each country to collect the latest values for columns to place in dataframe

for country in country_man_list:
    manufacturer_value = np.append(manufacturer_value, country_vacc_manu_transformed
                                       [country_vacc_manu_transformed['country']==country]
                                       .iloc[-4]['manufacturer'])
    
    total_vaccinations_manu_value = np.append(total_vaccinations_manu_value, 
                                       country_vacc_manu_transformed
                                       [country_vacc_manu_transformed['country']==country]
                                       .iloc[-4]['total_vaccinations'])

In [59]:
# Create dataframe where each country can be associated to a desired value 

country_manu_vaccination_df = pd.DataFrame({'country': country_man_list,
                                 'manufacturer': manufacturer_value,
                                'total_vaccinations': total_vaccinations_manu_value})
country_manu_vaccination_df.head()

     country        manufacturer  total_vaccinations
0  Argentina  Oxford/AstraZeneca          25977231.0
1    Austria             Moderna           1585063.0
2    Belgium             Moderna           4267394.0
3   Bulgaria     Johnson&Johnson            511702.0
4      Chile             CanSino            574442.0

### Create database connection

In [9]:
protocol = 'postgresql'
username = 'postgres'
password = 'postgres'
host = '127.0.0.1' # 'localhost' does not work normally as it should hence specific "host"
port = '5433'
database_name = 'covid_vaccination_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)
engine

Engine(postgresql://postgres:***@127.0.0.1:5433/covid_vaccination_db)

In [10]:
# Show table names - can be placed after creating table below or ran before to show empty tabl
engine.table_names()

['country_vaccinations']

### Load data to postgreSQL

In [ ]:
# Create table and load dataframe data
country_vaccination_df.to_sql(name='country_vaccinations', 
                              con=engine, if_exists='append', index=False)

In [11]:
# Confirm data has been added by querying the 'country_vaccinations' table
pd.read_sql_query('select * from country_vaccinations', con=engine).head()

,id,country,total_vaccinations,people_fully_vaccinated,people_fully_vaccinated_per_hundred,manufacturer
0,0,Afghanistan,5751015.0,4420127.0,11.10,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
1,1,Albania,2754244.0,1215199.0,42.30,"Oxford/AstraZeneca, Pfizer/BioNTech, Sinovac, ..."
2,2,Algeria,13704895.0,6110712.0,13.70,"Oxford/AstraZeneca, Sinopharm/Beijing, Sinovac..."
3,3,Andorra,151997.0,53367.0,68.99,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech"
4,4,Angola,17535411.0,5993792.0,17.66,Oxford/AstraZeneca